*{
    background-color: rgb(245,245,245);
}

#navbar{
    background-color: white;
    width: 100%;
    padding: 1% 0% 1% 0%;
    display: flex;
}
#navbar img{
    background: transparent;
    margin-left: 15%;
}

h3,p{
    margin-top: 30px;
}
h3{
    background: transparent ;
    color: #0da84f;
    font-weight: lighter;
    font-size: 20px;
}
#logo{
    height: 50px;
    width: 150px;
    margin-top: 18px;
}
#container{
    width:90%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
}
#container>#container1{
    display: grid;
    grid-template-columns: repeat(4,25%);
    gap: 10px;
    /* border: 1px solid blue; */
    width: 100%;
    height: auto;  
}
#container>#container2{
    /* border: 1px solid blue; */
    width: 35%;
    margin-left:65%;
    height: auto;
}
#box{
    width:100%;
    height:auto
}
#box>img{
    width:100%;
}
a{
    text-decoration: none;
}
#container1>a>#continue{
    border-radius: 35px;
    border: none;
    width: 140px;
    height: 35px;
    background-color: #ff4a33;
    color: white;
    display: block;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
#container2>a>#checkout{
    border-radius: 35px;
    border: none;
    width: 150px;
    height: 35px;
    background-color: #ff4a33;
    color: white;
    display: block;
    margin: auto;
    font-weight: bold;
}

#footdiv{
    
    text-align: center;
    background-color: white;
    margin-top: 25%;
    padding-bottom: 4%;
    padding-top: 2%;
}
#footdiv p{
    background: transparent;
    color: rgb(153,156,163);
}
#footdiv a{
    color: rgb(153,156,163);
    background: transparent;
    margin-right: 5px;
}