#heading {
    color: #FF6E26;
    margin-left: 40px;
}

#parent1 {
    height: 450px;
    width: 95%;
    /* border: 1px solid red; */
    margin-top: 100px;
    margin: auto;
    display: flex;
    margin-bottom: 15px;
}

#brands {
    height: 450px;
    width: 18%;
    /* border: 1px solid black; */

}

#advertize {
    height: 450px;
    width: 88%;
    /* border: 1px solid black; */

    margin-left: 50px;
}


 #Flash_Deals {
    height: 50px;
    width: 95%;
    
    /* border: 1px solid black; */
    content: "\E655";
    margin: auto;
}


#brands>a {
    margin-bottom: 20px;
    /* justify-content: space-between; */
    cursor: pointer;
}

#brands>a:hover {
   margin: auto;
  

    /* justify-content: space-between; */
}
a{
    color: gray;
}
#Parent {
    height: auto;
    width: 95%;
    /* border: 2px solid teal; */
    margin: auto;
}

#container {
    height: auto;
    width: 100%;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 200px);
    gap: 10px;
    margin: auto;
}