*{font-family:arial,helvetica,sans-serif,verdana,'Open Sans'}
body{background-color:  #f0eaea66;}

#navbar{
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    
    background-color: #2d2d38;
    flex-wrap: nowrap;
    margin: auto;
}
#navbar>div{
    width: auto;
    /* border: 1px solid black; */
    margin-left: 50px;
    box-sizing: border-box;
    
}
#emax{
    display: flex;
    font-size: 5px;
    font-weight: bold;
    justify-content: flex-start;
    gap: 5px;
}
#emax p:hover,#dropdown p:hover,#flash1 p:hover,#new1 p:hover,#preorder1 p:hover,#topbrand1 p:hover,
p+h4:hover,#sidebar p:hover{
color: #ff6e26;
cursor: pointer;
}
.search-container { 
   width: 60%;
    padding: 10px; 
line-height: 5px;}
.search-input { 
    height: 25px; 
    width: 95%; 
    padding: 4px; 
    margin: 0;
     border: none;
     border-radius: 6px;
      background: white; }
.search-button {
     cursor: pointer;
     margin-left: -49px; 
    height: 35px; 
    width: 45px;
     border: none; 
     border-top-right-radius: 6px;
     border-bottom-right-radius: 6px;
    background:#ff6e26; }
   
    #log{
        display: flex;
        width: 20%;
        color: white;
        line-height: 5px;
        cursor: pointer;
    }
    #cart{
        width: 20%;
        display: flex;
        color: white;
    } 
    #dropdown{
        display: flex;
        background-color: #2d2d38;
        color: white;
        gap:5px;
        width: 100%;
        
        justify-content: flex-start;
        
    }  
    #dropdown p{
        /* margin: auto; */
        color: white;
        /* width: 100%; */
        line-height: 5px;
        margin-left: 50px;
    }
    #belownavbar{
        display: flex;
        margin: auto;
      width: 95%;
        background-color: #f7f7f7;
        /* gap:5px; */
        
    }
    #belownavbar>div{
        box-sizing: border-box;
        width: 100%;
        height: auto;
        /* border: 1px solid black; */
        margin-bottom: 25px;
    }
   #sidebar{
        padding: 0px 20px 0px 20px;
        color: #333333;
        line-height: 22px;
    }
    .mySlides{
        padding: 15px;
        width: 700px;
        height: 300px;
       
        
    }
    #ploginsign{
        background-color: #fffefe;
        margin-top: 15px;
    }
    #loginsign{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    #joinus{
        border: none;
        border-radius: 15px;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
        background-color: #ff6e26;
    }
    #signin{
        border: 1px solid rgb(183, 178, 178) ;
        border-radius: 15px;
        padding: 10px 20px;
        color: black;
        background-color: white;
        cursor: pointer;
    }
    #flash{
        background-color:#f7f7f7;
        width: 95%;
        
        margin: auto;
    }
    #flashappend>div{
        padding: 0px;
        background-color: #f7f7f7;
    }
    #flashappend,#newarrival{
     display: grid;
     margin-bottom: 20px;
    
     grid-template-columns: repeat(6,1fr);
     gap:0px
    }
    #flash1,#new1{
        display: flex;
        background-color:white;
        justify-content: space-between;
    }
    .text{
text-decoration: line-through;
color: #908c8c;
    }
    #new{
        width: 95%;
        margin: auto;  
    }
    #hotpre{
        width: 95%;
        display: flex;
        margin: auto;  
    }
    #hotpre>div{
        /* border: 1px solid black;
        height: 800px; */
        padding: 5px;
        width: 100%;
    }
    
    #preorder1,#topbrand1{
        display: flex;
        padding: 5px;
        background-color:white;
        justify-content: space-between;
    }
    #preop,#topbrand{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:1px;

    }
    
    #recRecommend{
        display: grid;
       grid-template-columns: repeat(6,1fr);
      width:95%;
      margin: auto;
      /* border:1px solid black; */
     gap:10px;
     margin-bottom: 40px;
    }
   
    #RImg img:hover{
        background-color: #908c8c;
        cursor: pointer;
    }
    #RImg{
        width:185px;
        height:auto;
        margin: auto;
        padding: 7px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
        border-radius: 5px;
        /* border:1px solid black; */

    }
    #RImg>img{
        width:100%;
        border-radius: 5px;
        height: 50%;
    }
    #fp{
        
        margin: auto;
        width: 95%;
        line-height: 5px;
        height: 100px;
    }
    #fp>p{
        font-size: 15px;
    }
    #recRecommend p:hover{
        color: #ff6e26;
        cursor: pointer;
        text-decoration: underline;
    }
    
    