*{font-family:arial,helvetica,sans-serif,verdana,'Open Sans'}
body{background-color:  #f0eaea66;}
#heading {
    color: #FF6E26;
    margin-left: 40px;
}
span{
    font-size: small;
    color:#77727266 ;
}
#parent1 {
    height: 450px;
    width: 95%;
    /* border: 1px solid red; */
    margin-top: 100px;
    margin: auto;
    display: flex;
    margin-bottom: 15px;
}
#brands {
    height: 432px;
    width: 18%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 8px;
    /* border: 1px solid black; */
}
#advertize {
    height: 450px;
    width: 75%;
    box-sizing: border-box;
    margin: auto;
    /* border: 1px solid black; */

   
}
img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
 #Flash_Deals {
    height: 50px;
    width: 95%; 
    /* border: 1px solid black; */
    content: "\E655";
    margin: auto;
    margin-bottom: 50px;
    display: flex;

}
#sorting{
    display: flex;
    margin-left: 60%;
    gap: 20px;
}
#selection{
    
    margin-top: 20px;
    height: 30px;
    padding: 5px;
    background-color: #fc6f29;
    border-radius: 5px;
    cursor: pointer;
}
#selection:hover{
    background-color: #b9f1df;
}
#brands>a {
    margin-bottom: 20px;
    /* justify-content: space-between; */
    cursor: pointer;
}
#brands>a:hover {
    color: rgb(80, 80, 187);
    background-color:  #f0eaea66;
    font-weight: bold;
   margin: auto;
}
a{
    color: gray;
}

 #container {
    /* border: 2px solid black; */
     display: grid; 
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(1, 200px); */
    gap: 20px;
    /* margin: auto; */ 
} 
#mdiv{
    /* border: 0.5px solid green; */
    width: 200px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;

}
#mdiv>img{
    width: 200px;
    /* height: 70%; */
}
#mdiv>p{
    margin-left: 10px;
}
