*{font-family:arial,helvetica,sans-serif,verdana,'Open Sans'}
body{background-color:  #f0eaea66;}



#heading {
    color: #FF6E26;
    margin-left: 40px;
}
#wo{
    font-size: small;
    color:#47424266 ;
}

#parent1 {
    height: 450px;
    width: 95%;
    /* border: 1px solid red; */
    margin-top: 100px;
    margin: auto;
    display: flex;
    margin-bottom: 15px;
}



#brands {
    height: 432px;
    width: 18%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 8px;
    /* border: 1px solid black; */
}
#advertize {
    height: 450px;
    width: 75%;
    box-sizing: border-box;
    margin: auto;
    /* border: 1px solid black; */

   
}
img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#imgmens{
    width: 180px;
    height: 180px;
    }

/* // */
#Flash_Deals {
    height: 50px;
    width: 95%; 
    /* border: 1px solid black; */
    content: "\E655";
    margin: auto;
    margin-bottom: 50px;
    display: flex;

}
#sorting{
    display: flex;
    margin-left: 60%;
    gap: 20px;
}
#selection{
    
    margin-top: 20px;
    height: 30px;
    padding: 5px;
    background-color: #fc6f29;
    border-radius: 5px;
    cursor: pointer;
}
#selection:hover{
    background-color: #b9f1df;
}


#brands>a {
    margin-bottom: 20px;
    /* justify-content: space-between; */
    cursor: pointer;
}

#brands>a:hover {
    color: rgb(80, 80, 187);
    background-color:  #f0eaea66;
    font-weight: bold;
   margin: auto;
  

    /* justify-content: space-between; */
}
a{
    color: gray;
}
#Parent {
    height: auto;
    width: 95%;
    /* border: 2px solid teal; */
    margin: auto;
}

#container {
    display: grid; 
    width: 95%;
     grid-template-columns: repeat(6, 1fr);
     gap: 2px;
     margin: auto;
    
 }
/* navbar */


#navbar{
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    
    background-color: #2d2d38;
    flex-wrap: nowrap;
    margin: auto;
}
#navbar>div{
    width: auto;
    /* border: 1px solid black; */
    margin-left: 45px;
    box-sizing: border-box;
    
}
#emax{
    display: flex;
    font-size: small;
    justify-content: flex-start;
    gap: 5px;
}
#emax p:hover,#dropdown p:hover,
p+h4:hover,#sidebar p:hover{
color: #ff6e26;
cursor: pointer;
}
.search-container { 
   width: 60%;
    padding: 10px; 
line-height: 5px;}
.search-input { 
    height: 25px; 
    width: 95%; 
    padding: 4px; 
    margin: 0;
     border: none;
     border-radius: 6px;
      background: white; }
.search-button {
     cursor: pointer;
     margin-left: -49px; 
    height: 35px; 
    width: 45px;
     border: none; 
     border-top-right-radius: 6px;
     border-bottom-right-radius: 6px;
    background:#ff6e26; }
   
    #log{
        display: flex;
        width: 20%;
        color: white;
        line-height: 5px;
        cursor: pointer;
    }
    #cart{
        width: 20%;
        display: flex;
        color: white;
    } 
    #dropdown{
        display: flex;
        background-color: #2d2d38;
        color: white;
        gap:3px;
        width: 100%;
        
        justify-content: flex-start;
        
    }  
    #dropdown p{
        /* margin: auto; */
        font-size: small;
        color: white;
        /* width: 100%; */
        line-height: 5px;
        margin-left: 50px;
    }