
/* navbar */
#navbar{
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    
    background-color: #2d2d38;
    flex-wrap: nowrap;
    margin: auto;
}
#navbar>div{
    width: auto;
    /* border: 1px solid black; */
    margin-left: 45px;
    box-sizing: border-box;
    
}
#emax{
    display: flex;
    font-size: smaller;
    color: #6a6a6a;
    font-weight: bold;
    justify-content: flex-start;
    gap: 5px;
}
#emax p:hover,#dropdown p:hover,
p+h4:hover,#sidebar p:hover{
color: #ff6e26;
cursor: pointer;
}
.search-container { 
   width: 60%;
    padding: 10px; 
line-height: 5px;}
.search-input { 
    height: 25px; 
    width: 95%; 
    padding: 4px; 
    margin: 0;
     border: none;
     border-radius: 6px;
      background: white; }
.search-button {
     cursor: pointer;
     margin-left: -49px; 
    height: 35px; 
    width: 45px;
     border: none; 
     border-top-right-radius: 6px;
     border-bottom-right-radius: 6px;
    background:#ff6e26; }
   
    #log{
        display: flex;
        width: 20%;
        color: white;
        line-height: 5px;
        cursor: pointer;
    }
    #cart{
        width: 20%;
        display: flex;
        color: white;
    } 
    #dropdown{
        display: flex;
        background-color: #2d2d38;
        color: white;
        gap:3px;
        width: 100%;
        
        justify-content: flex-start;
        
    }  
    #dropdown p{
        font-size: small;
        /* margin: auto; */
        color: white;
        /* width: 100%; */
        line-height: 5px;
        margin-left: 50px;
    }
    #me{
        font-size: small;
        color:#77727266 ;
    }
/* navbar end */

#heading {
    color: #FF6E26;
    margin-left: 40px;
}
#parent1 {
    height: 450px;
    width: 95%;
    /* border: 1px solid red; */
    margin-top: 100px;
    margin: auto;
    display: flex;
    margin-bottom: 15px;
}
#brands {
    height: 450px;
    width: 20%;
    line-height: 19px;
    /* border: 1px solid blue; */
    background-color: white;
    
}
#advertize {
    height: 450px;
    width: 79%;
    /* border: 1px solid black; */
    margin-left: 20px;
    cursor: pointer;
}
#advertize>img{
    width: 100%;
    height: 100%;
}
 #Flash_Deals {
    height: 50px;
    width: 95%; 
    /* border: 1px solid black; */
    content: "\E655";
    margin: auto;
    margin-bottom: 50px;
    display: flex;

}
#Flash_Deals>img{
    margin-top: 22px;

}
#flashouter{
    /* border: 0.5px solid green; */
    width: 95%;
    margin: auto;
    background-color: white;
}
#sorting{
    display: flex;
    margin-left: 60%;
    gap: 20px;
}
#selection{
    
    margin-top: 20px;
    height: 30px;
    padding: 5px;
    background-color: #fc6f29;
    border-radius: 5px;
    cursor: pointer;
}
#selection:hover,#mdiv >button:hover{
    background-color: #b9f1df;
}
#brands>a {
    
    margin-bottom: 20px;
    /* justify-content: space-between; */
    cursor: pointer;
    padding: 20px;
    /* padding-top: 20px; */
}
#brands>a:hover {
    color: rgb(80, 80, 187);
    background-color:  #f0eaea66;
    font-weight: bold;
   margin: auto;
}
a{
    color: #6a6a6a;
}

 #container {
    /* border: 2px solid black; */
     display: grid; 
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    width: 95%;
    margin: auto; 
    background-color: white;
    margin-bottom: 20px;
    margin-top: -35px;
} 
#mdiv{
    /* border: 0.5px solid green; */
    width: auto;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    cursor: pointer;
    text-align: center;
    justify-content: space-evenly;
    /* padding: 15px; */
    

}
#mdiv>img{
    width: 100%;
    border-radius: 2px;
    /* height: 70%; */
}
#mdiv>p{
    margin-left: 10px;
    font-size: small;
    line-height: 10px;
}
#button{
    background-color: #ff6e26;
    border: 1px solid #ff6e26;
    border-radius: 40px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    width: 106px;
    height: 36px;
    cursor: pointer;
    font-family: OpenSans,Arial;
  }
body{
    background-color: #f5f6f8;  
}
*{
    font-family: OpenSans, Arial;;
}
#footdiv{
    
    text-align: center;
    background-color: white;
    margin-top: 10%;
    padding-bottom: 4%;
    padding-top: 2%;
}
#footdiv p{
    background: transparent;
    color: rgb(153,156,163);
}
#footdiv a{
    color: rgb(153,156,163);
    background: transparent;
    margin-right: 5px;
}


